<!DOCTYPE html>
<html>
<head>
<title>House Predictor</title>

<style>
body {
    background: linear-gradient(to right, #000000, #434343);
    color:white;
    text-align:center;
    font-family:Arial;
}

.card {
    background:rgba(255,255,255,0.1);
    padding:30px;
    width:320px;
    margin:80px auto;
    border-radius:10px;
}

input {
    width:85%;
    padding:10px;
    margin:10px;
}

button {
    padding:10px 20px;
    background:#00c6ff;
    border:none;
    border-radius:6px;
}

.result {
    color:#00ffcc;
    font-size:20px;
    margin-top:20px;
}
</style>
</head>

<body>

<img src="https://images.unsplash.com/photo-1560448204-e02f11c3d0e2" width="250">

<div class="card">

<h2>🏠 House Price Predictor</h2>

<form method="POST">
    <input type="number" name="area" placeholder="Area (sqft)" required><br>
    <input type="number" name="bedrooms" placeholder="Bedrooms" required><br>
    <input type="number" name="age" placeholder="House Age" required><br>

    <input list="cities" name="city" placeholder="Select your city" required>

    <datalist id="cities">
        <option value="Delhi">
        <option value="Mumbai">
        <option value="Indore">
        <option value="Bangalore">
        <option value="Kannauj, Uttar Pradesh">
        <option value="Mainpuri, Uttar Pradesh">
        <option value="Lucknow">
        <option value="Kanpur">
    </datalist>

    <br><br>
    <button type="submit">Predict Price</button>
</form>

{% if prediction %}
<div class="result">
₹ {{prediction}}
</div>
{% endif %}

</div>

</body>
</html>