<!DOCTYPE html>
<html>
<head>
    <title>BlackPrice AI</title>
    <style>
        body {
            background: black;
            color: white;
            text-align: center;
            font-family: Arial;
        }
        input, button {
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>

<h1>BlackPrice AI 🏠</h1>

<form method="POST">
    <input type="number" name="area" placeholder="Area" required><br>
    <input type="number" name="bedrooms" placeholder="Bedrooms" required><br>
    <input type="number" name="age" placeholder="House Age" required><br>
    <button type="submit">Predict</button>
</form>

{% if prediction %}
    <h2>Estimated Price: ₹{{prediction}} Lakhs</h2>
{% endif %}

</body>
</html>