<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>

<style>
body {
    margin:0;
    background: linear-gradient(to right, #000000, #434343);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
}

button {
    padding:12px 25px;
    background:#00c6ff;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-top:20px;
}
</style>
</head>

<body>

<div>
    <h1>👋 Welcome to BlackPrice AI</h1>

    <p>Your dream home starts here 🏡✨</p>

    <form action="/home">
        <button>Visit Website 🚀</button>
    </form>
</div>

</body>
</html>